<style>
    body {
        background-color: #a366ce;
    }

    .navbar-nav {
        background-color: #a13887;
    }

    .bg-roxo {
        background-color: #865ca3;
    }

    .gold {
        width: 80%;
        height: 80%;
        margin-left: 8.17%;
        margin-top: 4.6%;
    }

    body {
        overflow: hidden;
    }

    .sair {
        color: #fff;
        text-decoration: none;

    }

    li {
        list-style: none;
        color: inherit;
        text-decoration: none;
    }

    nav-item a {
        text-decoration: none;

    }
</style>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>PetWise</title>
</head>

<body>
    {{!-- <nav class="navbar navbar-expand navbar-dark bg-roxo">
        <a class="navbar-brand" href="/petwise">
            <img src="/user.petwise.png"
                width="50" height="50" alt="arruma">
        </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/petwise/pet">Pet </a>
        </div>
        <li class="nav-item">
            <a class="nav-item nav-link active sair navbar-nav" href="/petwise/dono">dono</a>
        </li>
    </nav> --}}
    <img src="/busco.sexo.png"
        class="gold">
</body>

</html> 